body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: bisque;
}


section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10vh 10vw;
}

.cont {
    width: 40vw;
    border: 2px solid teal;
}

.colors {
    height: 100px;
    width: 100px;
    outline: none;
    border: none;
}

.randomcolorbtn {
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 3rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}