* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #4b4b4b;
    font-family: sans-serif;
    perspective: 1000px;
}

.content {
    background-color: #1b1b1b;
    border: 1px solid #1b1b1b;
    position: relative;
    padding-bottom: 5rem;
    transform-origin: center left;
    transition: transform 0.3s ease-in-out;
}

.content.active {
    transform: translateX(200px) rotateY(20deg);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 7rem;
    padding: 5rem;
    background: #292929;
    color: #fff;
}

.container h1 {
    margin-bottom: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form label {
    margin-bottom: 5px;
}

form label .special {
    color: #ffa31a;
}

form input {
    height: 30px;
    margin-bottom: 2rem;
    outline: none;
    padding: 15px;
}

.sidebar {
    background: #808080;
    color: #fff;
    padding: 10px 30px;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    transform: translateX(200px);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    position: fixed;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.sidebar .menu .fa-bars {
    display: block;
}

.sidebar .menu .fa-times {
    display: none;
}

.sidebar.active .menu .fa-bars {
    display: none;
}

.sidebar.active .menu .fa-times {
    display: block;
}

.menu {
    background: crimson;
    color: #fff;
    font-size: 16px;
    border: none;
    top: 0;
    position: absolute;
    outline: none;
    height: 30px;
    right: -30px;
    width: 30px;
}