*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.box{
    font-size: 2rem;
    background-color: pink;
    display: block;
    height:100px ;
    width: 300px;
   padding: 32px 64px 100px 10px;
   border: 5px dotted black;
/*margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
margin-right: 20px; */
margin: 0;



}