*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.heading{

    font-size: 10rem;
    font-weight: 900;
    background: url(https://images.unsplash.com/photo-1726092679831-ae0a4e21f072?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxN3x8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}